<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.upms.rpc.mapper.UpmsPositionAPIMapper">
	<resultMap id="BaseResultMap"
		type="com.zheng.upms.dao.model.TPositionOrganization">
		<id column="position_id" jdbcType="VARCHAR" property="positionId" />
		<id column="organization_id" jdbcType="VARCHAR" property="organizationId" />
		<result column="sequence" jdbcType="INTEGER" property="sequence" />
		<result column="update_time" jdbcType="DATE" property="updateTime" />
	</resultMap>
	<resultMap id="BaseResultMapPosition" type="com.zheng.upms.dao.model.UpmsPositionHis">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="position_id" jdbcType="VARCHAR" property="positionId" />
		<result column="dept_id" jdbcType="VARCHAR" property="deptId" />
		<result column="pid" jdbcType="VARCHAR" property="pid" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
		<result column="position_code" jdbcType="VARCHAR" property="positionCode" />
	</resultMap>
	<resultMap id="BaseResultMapOrg" type="com.zheng.upms.dao.model.UpmsOrganization">
		<id column="organization_id" jdbcType="VARCHAR" property="organizationId" />
		<result column="dept_id" jdbcType="VARCHAR" property="deptId" />
		<result column="pid" jdbcType="VARCHAR" property="pid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
		<result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
	</resultMap>
	<insert id="insertTPositionOrganization" parameterType="java.util.List">
		insert into t_position_organization (sequence, organization_id, position_id, update_time)
		values
		<foreach collection="list" item="item" index="index" separator="," > 
        	<!-- SELECT  max(sequence)+1, #{item.organizationId}, #{item.positionId}, NOW() from t_position_organization -->
        	(#{item.sequence}, #{item.organizationId}, #{item.positionId}, NOW())
    	</foreach> 
	</insert>

	<select id="selectMaxsequence" resultType="int">
		SELECT  max(sequence) from t_position_organization
	</select>
	<select id="getPositionByOrg" parameterType="java.util.Map" resultMap="BaseResultMapPosition">
		SELECT * FROM upms_position p
		WHERE p.position_id IN (
				SELECT
					o.position_id
				FROM
					t_position_organization o
				WHERE
				o.organization_id = #{organizationId, jdbcType=VARCHAR}
			)
		LIMIT #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
	</select>
	<select id="getPositionByOrgCount" parameterType="java.util.Map" resultType="int">
		SELECT count(1) FROM upms_position p
		WHERE p.position_id IN (
				SELECT
					o.position_id
				FROM
					t_position_organization o
				WHERE
				o.organization_id = #{organizationId, jdbcType=VARCHAR}
			)
		<!-- LIMIT #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER} -->
	</select>
	<select id="getPositionByOrgAll" parameterType="java.lang.String" resultMap="BaseResultMapPosition">
		SELECT * FROM upms_position p
		WHERE p.position_id IN (
				SELECT
					o.position_id
				FROM
					t_position_organization o
				WHERE
				o.organization_id = #{organizationId, jdbcType=VARCHAR}
			)
	</select>
	
	<select id="getOrgByPosition" parameterType="java.util.Map" resultMap="BaseResultMapOrg">
		SELECT * FROM upms_organization p
		WHERE p.organization_id IN (
				SELECT
					o.organization_id
				FROM
					t_position_organization o
				WHERE
				o.position_id = #{positionId, jdbcType=VARCHAR}
			)
		LIMIT #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
	</select>
	<select id="getOrgByPositionCount" parameterType="java.util.Map" resultType="int">
		SELECT count(1) FROM upms_organization p
		WHERE p.organization_id IN (
				SELECT
					o.organization_id
				FROM
					t_position_organization o
				WHERE
				o.position_id = #{positionId, jdbcType=VARCHAR}
			)
		<!-- LIMIT #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER} -->
	</select>
	<select id="getOrgByPositionAll" parameterType="java.lang.String" resultMap="BaseResultMapOrg">
		SELECT * FROM upms_organization p
		WHERE p.organization_id IN (
				SELECT
					o.organization_id
				FROM
					t_position_organization o
				WHERE
				o.position_id = #{positionId, jdbcType=VARCHAR}
			)
	</select>
	
	<insert id="insertTPositionOrganizationHis" parameterType="com.zheng.upms.dao.model.TPositionOrganizationHis">
		insert into t_position_organization_his (sequence, id, organization_id, position_id, update_time)
		SELECT  max(sequence)+1, #{id}, #{organizationId}, #{positionId}, NOW() from t_position_organization_his
	</insert>
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

</mapper>